<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="serviceName">spring</Property>
        <Property name="logPath">../logs</Property>
        <Property name="patternLayout">%d{ABSOLUTE} %-5p [%c{1}] %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternLayout}"/>
        </Console>

        <RollingFile name="rollingFile" fileName="${logPath}/${serviceName}.log" filePattern="${logPath}/${serviceName}_%d{yyyy-MM-dd}.log" >
            <!-- 输出格式 -->
            <PatternLayout pattern="${patternLayout}" />
            <Policies>
                <!-- 每1天更新一次，此处查阅网上和官方示例中，都是以小时出现，我测试是以天为单位。（官方文档中说明按item类型是否是小时，但没找到在哪里设置item类型）另有其他各类型策略，请参阅官方文档 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
                <!-- 此处为每个文件大小策略限制，使用它一般会在文件中filePattern采用%i模式 -->
                <!-- <SizeBasedTriggeringPolicy size="128KB" /> -->
            </Policies>
            <!-- 最多备份30天以内的日志，此处为策略限制，Delete中可以按自己需要用正则表达式编写 -->
            <!--<DefaultRolloverStrategy>-->
                <!--<Delete basePath="${logPath}" maxDepth="1">-->
                    <!--<IfFileName glob="logs_*.log" />-->
                    <!--<IfLastModified age="30d" />-->
                <!--</Delete>-->
            <!--</DefaultRolloverStrategy>-->
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="java.sql" additivity="false" level="debug">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <Logger name="pwd.allen" additivity="false" level="debug">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <Logger name="org.springframework.web.servlet" additivity="false" level="debug">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>